body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;

  transition: background 0.1s ease-out;
}

#turn {
  font:
    bold italic 2rem "Arial",
    sans-serif;
}

.tablero_principal {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2px;
  background-color: #0f3460;
  width: 300px;
  height: 300px;
}

.celda {
  background-color: #1a1a2e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.celda.playerX {
  color: #00d0ff;
}

.celda.playerO {
  color: #e94560;
}

.celda:hover:not(.ocupada) {
  background-color: rgb(8, 79, 102);
}

.celda.ocupada {
  cursor: not-allowed;
}

.visual-dinamic {
  background-color: hsl(var(--tono), 70%, 60%) !important;
}
